/*

████████╗██╗  ██╗███████╗███╗   ███╗███████╗███████╗
╚══██╔══╝██║  ██║██╔════╝████╗ ████║██╔════╝██╔════╝
   ██║   ███████║█████╗  ██╔████╔██║█████╗  ███████╗
   ██║   ██╔══██║██╔══╝  ██║╚██╔╝██║██╔══╝  ╚════██║
   ██║   ██║  ██║███████╗██║ ╚═╝ ██║███████╗███████║
   ╚═╝   ╚═╝  ╚═╝╚══════╝╚═╝     ╚═╝╚══════╝╚══════╝

*/

/*******************************
        Theme Selection
*******************************/

/* To override a theme for an individual element
   specify theme name below
*/

/* Global */
@site       : 'megane.life';
@reset      : 'megane.life';

/* Elements */
@button     : 'megane.life';
@container  : 'megane.life';
@divider    : 'megane.life';
@flag       : 'megane.life';
@header     : 'megane.life';
@icon       : 'megane.life';
@image      : 'megane.life';
@input      : 'megane.life';
@label      : 'megane.life';
@list       : 'megane.life';
@loader     : 'megane.life';
@rail       : 'megane.life';
@reveal     : 'megane.life';
@segment    : 'megane.life';
@step       : 'megane.life';

/* Collections */
@breadcrumb : 'megane.life';
@form       : 'megane.life';
@grid       : 'megane.life';
@menu       : 'megane.life';
@message    : 'megane.life';
@table      : 'megane.life';

/* Modules */
@accordion  : 'megane.life';
@checkbox   : 'megane.life';
@dimmer     : 'megane.life';
@dropdown   : 'megane.life';
@embed      : 'megane.life';
@modal      : 'megane.life';
@nag        : 'megane.life';
@popup      : 'megane.life';
@progress   : 'megane.life';
@rating     : 'megane.life';
@search     : 'megane.life';
@shape      : 'megane.life';
@sidebar    : 'megane.life';
@sticky     : 'megane.life';
@tab        : 'megane.life';
@transition : 'megane.life';

/* Views */
@ad         : 'megane.life';
@card       : 'megane.life';
@comment    : 'megane.life';
@feed       : 'megane.life';
@item       : 'megane.life';
@statistic  : 'megane.life';

/*******************************
            Folders
*******************************/

/* Path to theme packages */
@themesFolder : 'themes';

/* Path to site override folder */
@siteFolder  : 'site';


/*******************************
         Import Theme
*******************************/

@import "theme.less";

/* End Config */
